body {
    background-color: black;    
}
body > :not(header) {
    padding-top: 55px;   
    padding-left: 240px;
}

.channel-top{
    background-color: #212121;
}
.channel-cover{
    display: flex;
    height: 25%;
    justify-content: flex-start;
    flex-shrink: 0;
}
.channel-cover > img{
    width: 1000vw;
}
#background{
    display: flex;
    flex-direction: column;
}
.channel-title{
    display: flex;
    padding: 2% 5% 2% 5%;
    align-items: flex-start;
    justify-content: center;
    gap: 35%;
}

.channel-title, .channel-toolbar{
    background-color: #212121;
}
.profileInfo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileInfo img{
    width:80px;
    height:80px;
    border-radius: 50%;
}

/*구독 버튼*/
.subscribers{
    width: 124px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.channel-name{
    font-size: 24px;
    margin-left:15px;
}
/* #subscribesIcon{
    margin-right:45px;
    margin-top : 22px;
} */

.channel-main{
    overflow: hidden;
}
/* 원래 버튼태그의 CCS 요소 삭제 */
button {
    /* appearance: none; */
    /* 추가적인 스타일 규칙을 적용할 수 있습니다 */
    background-color: #212121;
    width: 20%;
    height: 2%;
    border: 0px;
}

.channel-toolbar{
    /* display: grid;
    align-items: center;
    justify-content: center; */
    /* padding-left: 17vw; */
    /* position: fixed; */
    display: flex;
    height: 3em;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #212121
}

.channel-toolbar button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 0.875em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: #AAAAAA;
}

.toolbars button:hover{
    /* background-color: gray; */
    border-bottom: 2px solid #ffffff;
}

/* small-video 부분 */
.small-video {  
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    /* padding: 24px 287px 24px 65px; */
  }
  
.youtube-player {
    display: flex;
    padding-right: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  
.video-desc {
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 24px;
}

.title{
    color: var(--white-color, #FFF);
    font-variant-numeric: stacked-fractions;
    font-feature-settings: 'hlig' on, 'dlig' on;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.14px;
    margin-bottom: 20px;
}  
.time{
    color: var(--gray-color, #AAA);
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom:19px;
}
.description{
    color: var(--white-color, #FFF);
    font-variant-numeric: stacked-fractions;
    font-feature-settings: 'hlig' on, 'dlig' on;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;
    width: 400px;
    flex-shrink: 0;
}
/* search bar 기능*/
.hidden {
    display: none;
}

.toolbar-search{
    display: inline-flex;
    margin-left:10px;
}

#search-in-channel{
    border: 0;
    outline: 0;
    padding: 0;
}

/* TODO */
.toolbars{
    height: auto;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 100vw;
    margin: 10px;
}

.toolbars button {
    text-align: center;
    color: white;
    font-size: 14px;
    padding: 10px;
    width: 1a;
    height: 50px;
}

.toolbar-search button {
    width: 50px;
    padding-left: 0;
}

#searchBar input{
    position: absolute;
    width: 202px;
    height: 47px;
    flex-shrink: 0;
    background: #212121; 
    color: #fff;
}

/* video card 부분 */
.play-lists{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.play-list{
    /* padding: 0px 65px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center ;
}

#play-list-nav{
    display: flex;
    padding-top: 8px;
    align-items: flex-start;
}

#play-list-nav button{
    background-color: black;
}
#search-day{
    padding: 9px 8px 8px 0px;
    align-items: flex-start;
    gap: 10px;
    margin-right : 16px;
}

#title{
    color: var(--white-color, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
button :hover{
    background-color: grey;
}

.video-card, .pop-video-card{
    display: flex;
    padding: 24px 0px;
    align-items: flex-start;
}



.xsmall-video{
    display: flex;
    width: 214px;
    padding-right: 0px;
    flex-direction: column;
    align-items: flex-start;
    margin-right : 5px;
}
.xsmall-thumbnail{
    display: flex;
    width: 100%;
    height: 118px;
}
.xsmall-thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.xsmall-desc{
    display: flex;
    width: 186px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.xsmall-views{
    display: flex;
    width: 186px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#title{
    display: flex;
    padding: 8px 0px;
    align-items: flex-start;
    gap: 10px;
}
#userID, #userview, #usertime{
    color: var(--gray-color, #AAA);
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
