body{
    background-color: black;
}
section{
    background-color: black;
    background-size: cover;
    width: auto;
}
.video-container{
    width: 100%;
}

/* 전체 버튼 */
.filtering-buttons {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-body.active{
    width: 240px;
    height: 100vh;
    transform: translatex(-240px);
    transition: transform 0.5s ease-in-out;
}

nav{
    background: var(--background-color, #212121);
    height: 56px;
    flex-shrink: 0;
    display: flex;
    overflow: hidden;
    align-items: center;
    width: 100vw;

    border-top: 0.5px solid #303030;
    border-bottom: 2px solid #303030;

    padding-top: 5px;
    padding-bottom: 5px;
    
    transform: translatex(0px);
    transition: transform 0.5s ease-in-out;
    position: fixed;
    z-index: 1;
}

nav.active {
    width: 100vw;
    height: 56px;
    transform: translatex(-240px);
    transition: transform 0.5s ease-in-out;
}

/* 슬라이드 아이콘 <, > 스타일 */
.slideIcon{
    border: none;
    background: rgba(33, 33, 33, 0.0);
    display: inline-flex;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    cursor: pointer;
}
.slideIcon:active{
    background-color: lightgray;
    color: black;
    border-radius: 90%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    z-index: 1;
    display: flex;

}
.slideIcon:hover{
    background-color: lightgray;
    color: black;
    border-radius: 90%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    z-index: 1;
    display: flex;

}

.slideIcon img{
    opacity: 0.5;
}

/* 필터링 버튼 */
.filteringItems:not(.hidden){
    font-size: 15px;
    color : white;
    
    border: 0.3px solid var(--gray-color, #AAA);
    background: #303030;
    border-radius: 240px;
    
    /* display: inline-flex; */
    padding: 10px 10px;
    /* flex-direction: column; */
    /* text-align: center; */
    gap: 15px;
    margin-left: 5px;
    margin-right: 5px;

    opacity: 1;
    visibility: visible;
    transform: tranhiddenslateX(0);
}

.filteringItems {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-30px);
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.filteringItems.hidden{
    display: none;
}


.filteringItems:hover {
    background-color: white;
    color:black; /* 버튼에 마우스를 올렸을 때 배경색 변경 */
    cursor: pointer;
}

/* .filtering-buttons button:nth-child(2){
    background-color: white;
    color : black;
} */

.video {
    /* margin: 1%; */
    display: flex;
    flex-direction: column;
    color :white;
    border: 1px solid white;

}

/* section 안의 태그들을 위아래가 아닌 좌우로 정렬하게 함 */
.home-body{
    display: flex;
}


/* 비디오 span 태그들을 꼭 일렬로만이 아닌 해당 태그 공간이 차면 아래로 내려 갈수 있게 조절 */
#mainContainer {
    display: flex; 
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 30px;  
    margin-top: 65px; 
    padding-top: 20px;  
}
/* 비디오 컨텐츠들 CSS */

#mainContainer span{    
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 20px;
    display: flex; 
    flex-direction: column;    
    width: 276px;
    height: auto;
    cursor: pointer;
}

.thumbnail-and-video{
    width: 276px;
    height: 155px;
}

.thumbnail {
    width: 276px;
    height: 155px;
    padding: 0%;
}

video{
    width: 276px;
    height: 155px;
    padding-bottom: 0%;
    overflow: hidden;
    animation: revealVideo 0.3s linear forwards;
}

@keyframes revealVideo {
    from {
        border-radius: 10px;
    }
    to {
        border-radius: 0;
    }
}

.profile-and-desc *{
    margin: 0;    
    /* align-items: center; */
}
.profile-and-desc{
    padding-top: 10px;
    display: flex;
    align-items: flex-start;
}

.profile-and-desc div p{
    padding-left: 10px;
    color: #AAA;
}
.profile-and-desc div p:first-child{
    color: white;
}

/* 채널 이미지 크기 수정 필요 */
#mainContainer span img{
    border-radius: 5%;
}

#mainContainer span .profile-and-desc img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

/* 헤더와 사이드는 고정 된 상태라 나머지 Main 부분을 띄워서 겹치지 않게 조정 해당부분 수정 필요 */
body > :not(header) {
    padding-top: 55px;   
    padding-left: 240px;
}
