body {
    background-color: #212121;    
}

.channel-title{
    display: flex;
    justify-content: space-between;
}

.profileInfo{
    display: flex;
}

/* 원래 버튼태그의 CCS 요소 삭제 */
button {
    /* appearance: none; */
    /* 추가적인 스타일 규칙을 적용할 수 있습니다 */
    background-color: #212121;
    border: 0px;
}

.channel-toolbar{
    display: flex;
}