header{
    position: fixed; /* 요소를 고정시킴 */
    top: 0; /* 화면 상단에 고정 */
    width: 100%;
    height: 56px;
    flex-shrink: 0;
    background: var(--background-color, #212121);
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 5px;
    
}
.hamburger{
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 20.83%;
    bottom: 25%;
}
.youtube_logo{
    width: 90px;
    height: 20px;
}

.searchbox{
    display: flex;
    width: 470px;
    height: 40px;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    flex-shrink: 0;
}

#search{
    width: 362px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 2px 0px 0px 2px;
    background: #121212;
    color: #fff;
}
.search_btn{
    display: flex;
    width: 50px;
    height: 36px;
    padding: 6px 13px;
    justify-content: center;
    align-items: center;
    background: #303030;
}
.top-right-icons {
    align-items: center;
}

.top-right-icons span {
    margin-left: 10px;
}

.header-icon{
    width: 24px;
    height: 24px;
}