main {
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
}

#filtering-buttons {
    overflow: auto;
    white-space: nowrap;
}

.video {
    margin: 1%;
    display: flex;
    flex-direction: column;
}

.profile-and-desc {
    display: flex;
}