body{
    background-color: black;
}
section{
    background-color: black;
    background-size: cover;
    width: auto;
}
nav{
    background: var(--background-color, #212121);
    height: 56px;
    flex-shrink: 0;
    overflow: auto;
    width: auto;
    padding-left: 20px;
    display: flex;
}
main {
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
}

button{
    color : white;
    border-radius: 24px;
    border: 0.3px solid var(--gray-color, #AAA);
    background: var(--border-color, hsl(0, 0%, 19%));

    display: inline-flex;
    padding: 12px 16px;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    gap: 15px;

}

.filtering-buttons {
    overflow: auto;
    white-space: nowrap;
}

.video {
    margin: 1%;
    display: flex;
    flex-direction: column;
    color :white;
    border: 1px solid white;

}



/* 메인의 네비 부분 상단 구분짓는 border 처리 */
.video-container nav{
    display: flex;
    border-top: 2px solid #303030;
    border-bottom: 2px solid #303030;
    padding-top: 10px;
    width: auto;
}

/* section 안의 태그들을 위아래가 아닌 좌우로 정렬하게 함 */
.home-body{
    display: flex;
}


/* 비디오 span 태그들을 꼭 일렬로만이 아닌 해당 태그 공간이 차면 아래로 내려 갈수 있게 조절 */
#mainContainer {   
    display: flex; 
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 30px;           
}
  

/* 비디오 컨텐츠들 CSS */

#mainContainer span{    
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 20px;
    display: flex; 
    flex-direction: column;    
    width: 276px;
    height: auto;
    
}

.profile-and-desc *{
    margin: 0;    
    /* align-items: center; */
}
.profile-and-desc{
    padding-top: 10px;
    display: flex;
}

.profile-and-desc div p{
    padding-left: 10px;
    color: #AAA;
}
.profile-and-desc div p:first-child{
    color: white;
}

/* 채널 이미지 크기 수정 필요 */
#mainContainer span img{
    border-radius: 5%;
}
#mainContainer span img:first-child{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}


/* 헤더와 사이드는 고정 된 상태라 나머지 Main 부분을 띄워서 겹치지 않게 조정 해당부분 수정 필요 */
body > :not(header) {
    padding-top: 55px;   
    padding-left: 240px;
}

