/* list 태그 span 변경으로 인한 list css 삭제 */

/* width 240px로 변경
유튜브 페이지 참조 */

.sidebar-body{
    background-color: #212121;  
    position: fixed; /* 요소를 고정시킴 */
    left: 0; /* 화면 상단에 고정 */    
    width: 240px;
}

/* profile-user-img 클래스가 안보여서 삭제 */


/* side1,2,3,4 css 삭제 */


/* 사이드바의 이미지들 hover시 색상 변경 */
.sidebar-body div span a img:hover {
    background-color: #303030;    
}
