/* list 태그 span 변경으로 인한 list css 삭제 */

/* width 240px로 변경
유튜브 페이지 참조 */

.sidebar-body{
    background-color: #212121;  
    position: fixed; /* 요소를 고정시킴 */
    left: 0; /* 화면 상단에 고정 */    
    width: 240px;
    height: 907px;   
    overflow: hidden;/* 세로 스크롤바 숨기기 */
}


/* .sidebar-body 태그 스크롤바 전체 스타일 */
.sidebar-body:hover {
    overflow: scroll;/* 세로 스크롤바 보이기 */
}

.sidebar-body::-webkit-scrollbar {
    width: 6px; /* 스크롤바 너비 */
    height: 6px;    
}
  
/* .sidebar-body 태그 스크롤바 트랙 스타일 (배경) */
.sidebar-body::-webkit-scrollbar-track {
    background-color: #212121; /* 스크롤바 트랙 색상 */
}
  
  /* .sidebar-body 태그 스크롤바 쓰는 부분 (버튼) 스타일 */
.sidebar-body::-webkit-scrollbar-thumb {
    background-color: #888; /* 스크롤바 버튼 색상 */
    border-radius: 3px; /* 스크롤바 버튼 모서리 둥글게 */
}





/* profile-user-img 클래스가 안보여서 삭제 */


/* side1,2,3,4 css 삭제 */


/* 사이드바의 이미지들 hover시 색상 변경 */
.sidebar-body div span a img:hover {
    background-color: #303030;    
}