body {
    /* background-color: #181818;     */
    margin: 0px;    
}

/* 헤더와 사이드는 고정 된 상태라 나머지 Main 부분을 띄워서 겹치지 않게 조정 해당부분 수정 필요 */
body > :not(header) {
    padding-top: 55px;   
    padding-left: 240px;
}

button {
    border: 0;
    background-color: transparent;
}


/* 네비게이션 */
nav{    
    background: var(--background-color, #212121);
    height: 56px;
    flex-shrink: 0;
    overflow: auto;   
}

/* .ham{
    width: 24px;
    height: 24px;
} */

.nav_yt_btn{
    display: flex;    
    align-items: center;    
    width: 169px;
    height: 56px;
    left: 16px;
    top: 0px;
}

#ham {
    padding-left: 12px;
    padding-right: 12px;
}

.nav_search{
    width: 470px;
    height: 40px;
    top: 8px;
    left: 525px;
    padding: 0px;
    border: 1px;
    /* gap: 4px; */
}


/* 사이드바 */
.body{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
    color: white;        
}

/* @media screen and (max-width: 100vw) {
    .body {
        max-width: 100vw;
    }
}  */


/* 메인동영상 */
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #181818;
    padding: 3%;
}

.video{
    max-width: 100%;
    position: sticky;
    top: 0;
    text-align: center;
    z-index: -1;
}

.primary{
    margin-left: 24px;
    padding-top: 24px;
    padding-right: 24px;    
}


/* 동영상 정보 */
.video_info{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}
.video-title{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

.video-info-desc{
    display: flex;
    align-items: center;
    justify-content: space-between;    
    margin-bottom: 10px;
}

.info-text{
    color: #aaa;
}

/* buttons 이미지 추가 필요 */
.info-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.info-buttons button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.info-buttons button span {
    margin-left: 3px;
    color: #FFFFFF;
}

/* 동영상 정보 */
.channel-title{
    display: flex;
    justify-content: space-between; 
    border-top: 1px solid #303030;
    padding-top: 15px;
}

.user{
    display: flex;
    width: 40%;
}

.user-avatar{
    margin-right: 3%;
}

.user-avatar img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}


.user-name{
    /* font-size: 14px; */
    width: 100%;
    color: white;
}

.user-sub{
    font-size: 12px;
    width: 100%;
    color: #aaa;
}

/* subscribers 버튼 추가 필요
.subscribers{

} */


/* 동영상 정보 더보기 란 */
.video-desc .desc{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    border-bottom: 1px solid #303030;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* html show more 버튼 부분 체크박스형식으로 만들어놓음 */
.video-desc .btn{
    appearance: none;
    border: none;
    cursor: pointer;
    /* padding: ;
    margin: ; <--- padding margin값 부여해야함 */
}

/* showmore 누르기 전 후 */
.video-desc .btn ::before{
    content: 'show more';
    font-size: 12px;
    color:#aaa
}

.video-desc .btn :checked::before{
    content: close;
    font-size: 12px;
    color:#aaa
}

.video-desc .desc:has(+ .video-desc .btn:checked){
    -webkit-line-clamp: unset;
}
.info-buttons button:hover {
    background-color: grey;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

/* 댓글화면 */
/*  html short오타 수정 */
.sort-by{
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
}
.comment_cnt{
    padding-right: 20px;
    font-size: 16px;
}

/* sort-by btn 이미지 버튼 추가 필요 */
.sort-by .sort{
    margin-left: 50px;
    font-size: 14px;
    font-weight: 700;
}

.sort-by button {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort-by button span {
    margin-left: 3px;
    color: #FFFFFF;
}

.comment{
    display: flex;
}


/* 댓글입력창 */
.comment-area {
    border: none;
    outline: none; 
    border-bottom: 1px solid #303030;
    height: 20px;
    width: 100%;
    padding-top: 10px;
    font-size: inherit;
    background: transparent;
}
.comment-area :focus {
    border: none;
    outline: none;
    border-bottom: 3px solid white;
    background: transparent;
}


/* 달린 댓글 */
.comments{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.comment{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 10px;
}

.comments-pic img{
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}

.comments_info{
    display: flex;
    flex-direction: column;
    align-items: top;
}

.comment-area{
    margin-left: 15px;
    color: white;
}

.likeBtn,
.dislikeBtn
{
    display: flex;
    align-items: center;
    text-align: center;
}

.likeBtn span, 
.dislikeBtn span
{
    margin-left: 3px;
    color: #FFFFFF;
}


/* html 이름 시간 나누어야함 */
/* .comments-id{

} */

/* 버튼 이미지 추가  필요*/
.comments-btn{
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 12px;
    color:#aaa
}

/* .secondary{
    padding-top: 24px;
    padding-right: 24px;
}

.sidebar_top, .sidebar_top2{
    border-bottom: 1px solid #303030;
} */

#sidebar{
    display: none;
}


/* 우측 동영상 목록 부분 */
.other-video{
    display: flex;
    padding: 24px 24px 0px 0px;
    width: 40%;
    flex-direction: column;
    align-items: flex-start;
    margin-left : 20px;
}

.other-list a{
    display: flex;
    text-decoration: none;
    color: inherit;
    margin-bottom: 10%;
}

.thumnail-text{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
}

#thumnail-channel,
#thumnail-views{
    font-size: 12px;
    color : #AAAAAA;
}

.top_menu{
    display: flex;
    width: 402px;
    padding: 1px 12px 2px 0px;
    align-items: flex-start;
}

/* <!-- 0727 사항 : item1,item2 -> item 으로 통일--> */
/* <!-- 0727 : img-> button 수정--> */
.item1,
.item2{
    display: inline-block;
    padding: 8px 8px 8px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

}
 
.item1 button,
.item2 button {
    color : white;
    border-radius: 24px;
    border: 0.3px solid var(--gray-color, #AAA);
    background: var(--border-color, hsl(0, 0%, 19%));
    
    display: inline-flex;
    padding: 12px 16px;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    gap: 15px;
    
}

.other-videos{
    display: flex;
}
.other-video{
    display: flex;
    padding-top: 8px;
    align-items: flex-start;
}
.other-video .other-video-thumbnail{
    width: 168px;
    height: 94px;
}
.other-video .other-video-thumbnail img{
    width: 100%;
    height: 100%;
}

/*0727 html : text부분 3단계로 분리(제목, 채널명, 날짜/조회수)*/
.other-video .other-video-text{
    display: flex;
    width: 226px;
    padding: 7px 0px;
    flex-direction: column;
    align-items: flex-start;
}

.other-video-text-title{
    width: 202px;
    color: var(--white-color, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.other-video-text-name{
    flex: 1 0 0;
    color: var(--gray-color, #AAA);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.other-video-text-day{
    flex: 1 0 0;
    color: var(--gray-color, #AAA);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

